<div class="home">
  <div class="sidebar">
    <%= image_tag "covid.png", class: "covid" %>
    <ul>
      <li>
        <%= link_to root_path do %>
          <%= image_tag "dashboard-selected.png", class: "selected" %>
        <% end %>
      </li>
      <li>
        <%= link_to cases_path do %>
          <%= image_tag "cases.png" %>
        <% end %>
      </li>
      <li>
        <%= link_to info_index_path do %>
          <%= image_tag "info.png" %>
        <% end %>
      </li>
    </ul>
    <%= image_tag "phone.png", class: "phone"%>
  </div>
  <section>
    <div class="left">
      <header>
        <nav>
          <div class="title">
            Philippines COVID Cases Tracker
          </div>
          <div class="date">
            Updated as of March 2021
          </div>
        </nav>
      </header>
      <main>
        <div class="summary">
          <div class="total-cases">
            <div class="title">Total Cases</div>
            <div class="data"><%= number_with_delimiter(@summary["total"]) %></div>
          </div>
          <div class="donut">
            <div class="recoveries">
              <%= pie_chart [["Recoveries", @summary["recoveries"]], ["Total", @summary["total"]]], donut: true, legend: false, colors: ["#f0375a", "grey"], height: "300px", width: "300px"%>
              <div class="data"><%= number_with_delimiter(@summary["recoveries"]) %></div>
              <div class="label"><%= image_tag "rectangle.png" %> Recoveries</div>
            </div>
            <div class="deaths">
              <%= pie_chart [["Deaths", @summary["deaths"]], ["Total", @summary["total"]]], donut: true, legend: false, colors: ["#f0375a", "grey"], height: "300px", width: "300px"%>
              <div class="data"><%= number_with_delimiter(@summary["deaths"]) %></div>
              <div class="label"><%= image_tag "rectangle.png" %> Deaths</div>
            </div>
            <div class="active">
              <%= pie_chart [["Active", @summary["active_cases"]], ["Total", @summary["total"]]], donut: true, legend: false, colors: ["#f0375a", "grey"], height: "300px", width: "300px"%>
              <div class="data"><%= number_with_delimiter(@summary["active_cases"]) %></div>
              <div class="label"><%= image_tag "rectangle.png" %> Active Cases</div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div class="right">
      <div class="top">
        <div class="title">
          <%= image_tag "alert.png" %> Health Information
        </div>
        <div class="options" data-turbolinks="false">
          <input type="radio" id="symptoms" name="test" checked="true">
          <label class="label1" for="symptoms">Symptoms</label>
          <span class="description">COVID-19 affects different people in different ways. Most infected people will develop mild to moderate illness and recover without hospitalization.</span>
          <span>Most common symptoms:</span>
          <ul>
            <li>fever</li>
            <li>cough</li>
            <li>tiredness</li>
            <li>lost of taste</li>
          </ul>
          <span>Less common symptoms:</span>
          <ul>
            <li>sore throat</li>
            <li>headache</li>
            <li>aches and pains </li>
            <li>diarrhea</li>
            <li>a rash on skin, or discolouration of fingers or toes</li>
            <li>red or irritated eyes</li>
          </ul>
          <span>For informational purposes only. Consult your local medical authority for advice.</span>
          <input type="radio" id="prevention" name="test">
          <label class="label2" for="prevention">Prevention</label>
          <span>Protect yourself and others around you by knowing the facts and taking appropriate precautions. Follow advice provided by your local health authority.</span>
          <span>To prevent the spread of COVID-19:</span>
          <ul>
            <li>Maintain a safe distance from others (at least 1 metre), even if they don’t appear to be sick.</li>
            <li>Wear a mask in public, especially indoors or when physical distancing is not possible.</li>
            <li>Choose open, well-ventilated spaces over closed ones. Open a window if indoors.</li>
            <li>Clean your hands often. Use soap and water, or an alcohol-based hand rub.</li>
            <li>Get vaccinated when it’s your turn. Follow local guidance about vaccination.</li>
            <li>Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.</li>
            <li>Stay home if you feel unwell.</li>
          </ul>
          <span>If you have a fever, cough and difficulty breathing, seek medical attention. Call in advance so your healthcare provider can direct you to the right health facility. This protects you, and prevents the spread of viruses and other infections.</span>
          <input type="radio" id="treatments" name="test">
          <label class="label3" for="treatments">Treatments</label>
          <span>If you have COVID-19 symptoms, get tested as soon as you can after your symptoms start. Stay home until you receive results.</span>
          <span>After exposure to someone who has COVID-19, do the following:</span>
          <ul>
            <li>Call your health care provider or COVID-19 hotline to find out where and when to get a test.</li>
            <li>Cooperate with contact-tracing procedures to stop the spread of the virus.
            </li>
            <li>If testing is not available, stay home and away from others for 14 days.
            </li>
            <li>While you are in quarantine, do not go to work, to school or to public places. Ask someone to bring you supplies.
            </li>
            <li>Keep at least a 1-metre distance from others, even from your family members.
            </li>
            <li>Wear a medical mask to protect others, including if/when you need to seek medical care.
            </li>
            <li>Clean your hands frequently.
            </li>
            <li>Stay in a separate room from other family members, and if not possible, wear a medical mask.
            </li>
            <li>Keep the room well-ventilated.
            </li>
            <li>Monitor yourself for any symptoms for 14 days.
            </li>
          </ul>
        </div>
      </div>
      <div class="bottom">
        <div class="text">Get<br>
          Vaccinated!</div>
        <div class="img">
          <%= image_tag "vaccinated.png"%></div>
      </div>
    </div>
  </section>
</div>
